.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.photo-card img {
  width: calc((100vw - 68px) / 4);
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-item {
  text-align: center;
  font-size: 12px;
}
.load-more {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 15px;
}
