.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.photo-card img {
  width: calc((100vw - 68px) / 4);
}
.info {
  padding: 0 3px;
  display: flex;
  justify-content: space-between;

  &-item {
    text-align: center;
    font-size: 11px;
  }
}
.load-more {
  height: 40px;
  width: calc(100vw - 38px);
  margin: 0 10px 15px;
  border: none;
  border-radius: 5px;
}
